/*.card{
  background: rgba(253,244,212,0.78);
}*/

h3{
  font-weight: bold;
}

#post{
  font-size: 120%;
  color: #007bff;
  cursor: pointer;
}
#message{
  padding-left: 8%;
}

.navbar-custom {
  background: #74a29d;
  display: block;
}
 #filter{
   color: brown;
 }

.mycontent-left {
  border-right: 1px solid #333;
}

/*user dropdown*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
}
.dropbtn{
  cursor: all-scroll;
}

.dropdown-content a {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {display: block; }


/*pagination*/
#pagination{
  position: fixed;
  left: 0;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

#id1:focus {
  box-shadow: none !important;
}

.card {
  width: 400px;
}

.card-header h3 {
  color: #24CE9F;
}

.login_btn{
  color: white;
  background-color: #74a29d;
  width: 100px;
}

.login_btn:focus {
  box-shadow: none !important
}
